.color-black {
    color: black;
}

.color-white {
    color: white;
}

.color-red {
    color: red;
}

.background-black {
    background-color: black;;
}

.second-background {
    background-color: #424242;
}