.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.flex-column {
    flex-direction: column;
}

.grow {
    flex: 1;
}

.grow-width {
    flex-grow: 1 1 auto;
    
}

.overflow-scroll-x {
    overflow-x: scroll !important;
}

.overflow-scroll-y {
    overflow-y: scroll !important;
}

.overflow-hidden {
    overflow: hidden !important;
}