@for $i from 5 through 60 {
    .f-s-#{$i} {
        font-size: $i + px;
    }
}

$presentage-list: 25 50 75 100;

@each $value in $presentage-list {
    .w-#{$value} {
        width: percentage(100/$value) !important;
    }

    .h-#{$value} {
        height: percentage(100/$value) !important;
    }
}