<ng-container *ngIf="board">
    <div class="container"
        style="--rows-count: {{ board.rows }}; --cell_gap: {{ board.cell_gap }}px; --cell_size: {{ board.cell_size }}px; --columns-count: {{ board.columns }}; --board-width: {{ board.columns * (board.cell_size + (board.cell_gap * 3))}}px">
        <ng-container *ngFor="let row of cells">
            <div class="row">
                <ng-container *ngFor="let cell of row">
                    <app-mines-cell (notify)="notificationRecived($event)" [cell]="cell"></app-mines-cell>
                </ng-container>
            </div>
        </ng-container>
    </div>
</ng-container>