<ng-container *ngIf="board">
    <div class="rows-container"
        [style.--rows_count]="board.rows"
        [style.--cells_gap]="board.cells_gap + 'px'"
        [style.--cells_size]="board.cells_size + 'px'"
        [style.--columns_count]="board.columns"
        [style.--board_width]="board.columns! * (board.cells_size! + (board.cells_gap! * 3)) + 'px'"
    >
        <ng-container *ngIf="cells.cells as cells">
            <ng-container *ngFor="let row of cells">
                <div class="row">
                    <ng-container *ngFor="let cell of row">
                        <app-mines-cell (notify)="handleCellNotification($event)" [cell]="cell"></app-mines-cell>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </div>
</ng-container>