@import '../app/styles/params.scss';

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.base-container {
  color: white;
  position: fixed;
  height: calc(100% - $topBaHeight);
  top: 35px;
  left: 0;
}