@import '../app/styles/params.scss';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $topBaHeight;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.base-container {
  // display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  height: calc(100% - $topBaHeight);
  top: $topBaHeight;
  left: 0;
}