<div class="cell-contanier cursor-pointer d-flex justify-content-center align-items-center"
    (click)="click(cell, NotificationType.ItemClicked)" 
    (contextmenu)="rightClick(cell, NotificationType.ItemRightClicked)"
    [ngClass]="{
        'empty-discovered-cell': cell.state === CellState.Discovered && cell.type === CellType.Empty,
        'error': !!cell.error
    }">
    <ng-container [ngSwitch]="cell.state">

        <ng-container *ngSwitchCase="CellState.UnDiscovered"></ng-container>

        <ng-container *ngSwitchCase="CellState.Marked">
            <i class="fa-solid fa-triangle-exclamation color-white f-s-18"></i>
        </ng-container>

        <ng-container *ngSwitchCase="CellState.Discovered">
            <ng-container [ngSwitch]="cell.type">
                <ng-container *ngSwitchCase="CellType.Empty">

                </ng-container>

                <ng-container *ngSwitchCase="CellType.Bomb">
                    <i class="fa-solid fa-bomb f-s-18"></i>
                </ng-container>

                <ng-container *ngSwitchCase="CellType.Number">
                    {{cell.value}}
                </ng-container>
            </ng-container>
        </ng-container>

    </ng-container>
</div>