<div class="mines-page-container d-flex flex-column w-100 h-100">
    <div class="w-100 d-flex justify-content-center align-items-end color-black">
        <div class="title-container">
            <span class="f-s-35"> {{ configurations.title.key }} </span>
            <span class="grow"></span>
            <span class="f-s-15"> {{ board?.markers || 0 }} / {{ board?.total_bombs || 0 }}</span>
        </div>
    </div>
    
    <div class="d-flex h-100 justify-content-center align-items-center">
       <ng-container *ngIf="gameEnded; else Board">
        <div class="d-flex flex-column align-items-center" (click)="initPage()">
            <span class="f-s-50 color-black"> {{ (!!board?.lose ? 'you lose' : ' you won') | uppercase }}</span>
            <br>
            <span class="f-s-20 color-black"> {{ 'click here to start a new game' | uppercase }} </span>
        </div>
       </ng-container>
        
       <ng-template #Board>
        <app-board [board]="board" (notify)="notificationRecived($event)"></app-board>
       </ng-template>
    </div>
</div>