<form [formGroup]="ngForm" (ngSubmit)="onSubmit()" class="form">
  <h2>{{ form.title.key | translate }}</h2>
  <ng-container *ngFor="let control of form.controles">
    <ng-container [ngSwitch]="control.type">
      <div class="form-control">
        <label [for]="control.key"> {{ control.title.key | translate }}</label>
        <ng-container *ngSwitchCase="ControlType.Input">
          <ng-container
            [ngTemplateOutlet]="input"
            [ngTemplateOutletContext]="{ $implicit: control }"
          ></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="ControlType.Select">
          <ng-container
            [ngTemplateOutlet]="select"
            [ngTemplateOutletContext]="{ $implicit: control }"
          ></ng-container>
        </ng-container>
        <div
          *ngIf="
            ngForm.controls[control.key]?.invalid &&
            ngForm.controls[control.key]?.touched
          "
        >
          <ng-container *ngFor="let error of control.errors">
            <ng-container
              *ngIf="ngForm.controls[control.key].errors as controlError"
            >
              <ng-container *ngIf="controlError[error.key]">
                <small class="color-red">
                  {{ error.title.key | translate }}</small
                >
                <br />
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #input let-control>
    <input
      [type]="!!control.input_type ? control.input_type : null"
      [id]="control.key"
      [formControlName]="control.key"
    />
  </ng-template>

  <ng-template #select let-control>
    <p-dropdown
      [formControlName]="control.key"
      [options]="control.options"
      [(ngModel)]="control.value"
      [optionLabel]="control.optionLabel | translate"
      [placeholder]="control.placeholder | translate"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center" *ngIf="control.value">
          <div>{{ (control.key + '.' + control.value?.value) | translate }}</div>
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center">
          <div>{{ (control.key + '.' + language.value) | translate }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </ng-template>
  <button class="cursor-pointer" type="submit" [disabled]="ngForm.invalid">
    {{ "submit" | translate }}
  </button>
</form>
