<form [formGroup]="ngForm" (ngSubmit)="onSubmit()" class="form">
    <h2>{{ form.title.key | translate }}</h2>
    <ng-container *ngFor="let control of form.controles">
        <ng-container [ngSwitch]="control.type">
            <div class="form-control">
                <ng-container *ngSwitchCase="ControlType.Input">
                    <ng-container [ngTemplateOutlet]="input"
                        [ngTemplateOutletContext]="{$implicit: control}"></ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #input let-control>
        <label [for]="control.key"> {{ control.title.key | translate }}</label>
        <input [type]="!!control.input_type ? control.input_type : null" [id]="control.key"
            [formControlName]="control.key" />

        <div *ngIf="ngForm.controls[control.key]?.invalid && ngForm.controls[control.key]?.touched">
            <ng-container *ngFor="let error of control.errors">
                <ng-container *ngIf="ngForm.controls[control.key].errors as controlError">
                    <ng-container *ngIf="controlError[error.key]">
                        <small class="color-red"> {{ error.title.key | translate }}</small>
                    <br>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-template>

    <button class="cursor-pointer" type="submit" [disabled]="ngForm.invalid">{{ 'submit' | translate }}</button>
</form>